.header {
  padding: 36px 0;
  background-color: #74727c;
}

.wrap {
  display: flex;
  align-items: center; /* Vertically centers items */
  justify-content: flex-start; /* Aligns items to the left */
  flex-wrap: wrap;
  gap: calc(var(--base) / 2) var(--base);
}

.logo {
  width: 170px;
}

.hide { 
  display: none;
}