.header {
  padding: 36px 0;
  background-color: #443473;
}

.wrap {
  display: flex;
  align-items: center; /* 'right' is not valid; use 'center' or 'flex-end' */
  justify-content: flex-end; /* Aligns items to the right */
  flex-wrap: wrap;
  gap: calc(var(--base) / 2) var(--base);
}

.logo {
  width: 170px;
}

.hide { 
  display: none;
}